.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  
}
 
.kattintas {
  background-color:blue;
  color: white;
  border: none;
  padding: 20px 40px;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}